.align-text-center {
  text-align: center;

  .inline-form {
    display: flex;
    align-items: center;
    justify-content: center;

    button.call {
      height: 31px;
      width: 48px;
      padding: 0 5px;
      background-color: #5DBCD2;
      border-radius: 40px;
      margin-left: -14px;

      .mat-button-wrapper {
        display: flex;
        height: 30px;
        align-items: center;
      }

      &:disabled {
        background-color: #a6a6a6;
      }
    }
  }

}
